// Configuration

$body-text-color: rgba(0, 0, 0, 0.8);
$strong-text-color: #000;
$base-color: #fff;
$base-color-dark: #ccc;
$highlight-color: #0C73D7;

$highlight-font: Concourse Caps;
$base-font: Concourse;
$base-font-size: 16;
$base-line-height: 1.4;

$body-width: 700px;