@font-face {
	font-family: Concourse;
	src: url("../fonts/Concourse T3 Regular.otf");
	font-style: regular;
	font-weight: 300;
}
@font-face {
	font-family: Concourse Caps;
	src: url("../fonts/Concourse C2 Regular.otf");
	font-style: regular;
	font-weight: 200;
}
@font-face {
	font-family: Concourse Caps;
	src: url("../fonts/Concourse C3 Regular.otf");
	font-style: regular;
	font-weight: 300;
}
@font-face {
	font-family: Concourse Caps;
	src: url("../fonts/Concourse C4 Regular.otf");
	font-style: regular;
	font-weight: 400;
}
@font-face {
	font-family: Concourse Caps;
	src: url("../fonts/Concourse C4 Bold.otf");
	font-style: regular;
	font-weight: 600;
}
