@media (max-width : 900px) {

  section {
    height: auto;
    min-height: 100%;
  }

  section:first-child {
    padding-bottom: 25px;
  }

  section:last-child {
    padding-top: 15px;
  }

  div.center {
    width: auto;
    padding: 35px;
    position: static;
    top: 0;
    left: 0;
    transform: none;
  }

  #about div.center {
    width: auto;
  }

  h1 {
    font-size: 36px;
    line-height: 1.1;

    span {
      display: none;
    }
  }

  h2 {
    font-size: $base-font-size;
  }

  #top img {
    height: 100px;
    margin-bottom: 10px;
  }


  article {
    margin: 20px auto;
  }

  p {
    font-size: 18px;
  }

}

//@media (max-height : 400px) {
//  article {
//    width: 45%;
//  }
//}
