@media (max-width : 850px) {

  section {
    height: auto;
  }

  section:first-child {
    padding-bottom: 25px;
  }

  section:last-child {
    padding-top: 15px;
  }

  div.center {
    width: auto;
    padding: 95px 35px 65px 35px;
    position: static;
    top: 0;
    left: 0;
    transform: none;
  }

  #about div.center {
    width: auto;
  }

  h1 {
    font-size: 36px;
    line-height: 1.1;
  }

  h2 {
    font-size: $base-font-size;
  }

  #top img {
    height: 100px;
  }


}
