h1, h2, ul, li, p {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

html {
  box-sizing: border-box;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

a {
  font-family: $highlight-font;
  color: $strong-text-color;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 1.5;
  z-index: 1000;
}

.arrow-link:before {
  content: "→";
  position: relative;
  right: 4px;
  opacity: 0;
  transition: opacity 500ms linear;
}

a:hover {
  color: $highlight-color;
}

.arrow-link:hover:before {
  opacity: 1;
}

a.selected {
  color: $highlight-color;
}

a.selected:before {
  content: "→";
  position: relative;
  right: 4px;
  opacity: 1;
}

.sticky {
  position: fixed;
  top: 0;
}