.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

html {
  font-size: $base-font-size * 1px;
  line-height: $base-line-height;
  font-family: $base-font;
}

h1, h2, h3, h4, h4 {
  font-family: $highlight-font;
  color: $strong-text-color;
}

img {
  display: block;
}
a {
  font-family: $base-font;
  color: $strong-text-color;
  text-decoration: none;
}

a:hover {
  color: $highlight-color;
}

p {
  color: $body-text-color;
}
