@import "reset";

@import "compass/reset";

@import "configuration";

@import "fonts";

@import "utilities";

// Inheritance
html {
  text-align: justify;
  box-sizing: border-box;
}

// ======
// HEADER
// ======
.header {
  display: block;
  margin: auto;
  padding: 25px;

  text-align: center;
  line-height: 1;

  h1 {
    display: block;
    margin: auto;
    width: 315px;

    padding: 15px;

    font-family: $highlight-font;
    color: $strong-text-color;
    font-weight: 400;

    text-transform: lowercase;
    font-size: 2em;
    letter-spacing: 2px;

    border-top: 4px double $highlight-color;
  }

  .close {
    letter-spacing: -2px;
  }

  .h1-sub {
    width: 315px;
    padding-bottom: 15px;
    margin: auto;
    margin-bottom: 15px;

    font-family: $highlight-font;
    color: $highlight-color;
    font-weight: 300;
    letter-spacing: 2px;

    border-bottom: 4px double $highlight-color;
  }
}
// ====
// MAIN
// ====
.main-full {
  background: $base-color;
}
.main {
  display: block;
  margin: auto;
  font-size: $base-font-size * 1.1px;

  width: $body-width;

  h2 {
    font-family: $highlight-font;
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-size: 24px;
    text-align: center;
  }

  .about-profile {
    margin: auto;
    margin-bottom: 25px;
    overflow: hidden;
    width: 200px;
    border-radius: 2px;
    border: 1px solid #888;
  }

  p {
    margin-bottom: 25px;
  }
// =======
// SIDEBAR
// =======
  .sidebar {
    display: block;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
  }

  .sidebar-nav-list {
    margin: auto;
  }

  .sidebar-nav-list > li {
    width: $body-width / 4;
    float: left;

    color: $strong-text-color;
    font-family: $base-font;
    line-height: 1.35;

    a {
      display: block;
      text-align: center;
      padding: 10px 25px 10px 10px;
      white-space: no-wrap;
    }

  }
  // =======
  // CONTENT
  // =======
  .body {
    display: block;
    float: left;
    padding: 25px;

    width: $body-width;

    font-family: $base-font;
    color: $body-text-color;
    text-align: left;
    line-height: 1.35;
  }
}
// ======
// FOOTER
// ======
.footer > nav {
  width: $body-width;
  padding-bottom: 25px;
  margin: auto;

  border-top: 1px solid #888;

  color: $strong-text-color;
  font-family: $highlight-font;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 1.35;
}

.footer-nav-list {
  width: $body-width;
  padding-top: 15px;

  li {
    float: left;
  }

  a {
    text-align: center;
    display: block;
    width: $body-width / 3;

    padding: 10px 10px 10px 25px;
  }

}