@import "compass/reset";

@import "configuration";

@import "fonts";

@import "utilities";

html, body {
  height: 100%;
}

html {
  background: $base-color-dark;
}

section {
  position: relative;
  height: 100%;
}

nav {
  display: flex;
  justify-content: center;
}

ol {
  display: flex;
  margin: 0 auto;
  padding: 30px 0;

  li {
    border-right: 1px solid #ccc;

    &:last-child {
      border-right: none;
    }

    a {
      font-size: $base-font-size;
      padding: 5px 25px;
    }
  }
}

div.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#top {
  background: $base-color;
}

#top img {
  height: 150px;
  width: auto;
  border: 1px solid #000;
  border-radius: 50%;
  margin: auto;
}

h1 {
  text-align: center;
  text-transform: lowercase;
  font-size: 48px;
  margin: 20px 0 5px 0;
}

h2 {
  text-align: center;
  font-size: 24px;
}

#about {
  background: $base-color-dark;
}

#about div.center {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
}

@import "mobile";
