@import "reset";

@import "compass/reset";

@import "configuration";

@import "fonts";

@import "utilities";

// Inheritance
html {
  text-align: justify;
  box-sizing: border-box;
}

// ======
// HEADER
// ======
.header {
  display: block;
  margin: auto;
  padding: 25px;

  text-align: center;
  line-height: 1;

  h1 {
    display: block;
    margin: auto;
    width: 350px;

    padding: 15px;

    font-family: $highlight-font;
    color: $strong-text-color;
    font-weight: 400;

    text-transform: lowercase;
    font-size: 36px;
    letter-spacing: 2px;

    border-top: 4px double $highlight-color;
  }

  .close {
    letter-spacing: -2px;
  }

  .h1-sub {
    width: 350px;
    padding-bottom: 15px;
    margin: auto;
    margin-bottom: 15px;

    font-family: $highlight-font;
    color: $highlight-color;
    font-weight: 300;
    letter-spacing: 2px;

    border-bottom: 4px double $highlight-color;
  }
}
// =======
// SIDEBAR
// =======
  .sidebar {
    display: block;
    width: $body-width;
    margin: auto;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
  }

  .sidebar.sticky {
    width: 100%;
    border-top: 0;
    background: #fff;
  }

  .sidebar-nav-list {
    width: $body-width;
    margin: auto;
  }

  .sidebar-nav-list > li {
    width: $body-width / 4;
    float: left;

    color: $strong-text-color;
    font-family: $base-font;
    line-height: 1.35;

    a {
      display: block;
      text-align: center;
      padding: 10px 25px 10px 10px;
      white-space: no-wrap;
    }

  }
// ====
// MAIN
// ====
.main-full {
  background: $base-color;
}
.main {
  display: block;
  margin: auto;
  margin-bottom: 50px;
  font-size: $base-font-size * 1.1px;

  width: $body-width;

  h2 {
    font-family: $highlight-font;
    margin-top: 30px;
    margin-bottom: 25px;
    text-transform: lowercase;
    font-size: 30px;
    text-align: center;
  }

  .about-profile {
    margin: auto;
    margin-bottom: 25px;
    overflow: hidden;
    width: 200px;
    border-radius: 2px;
    border: 1px solid #888;
  }

  p {
    margin-bottom: 25px;
  }
  // =======
  // CONTENT
  // =======
  .body {
    display: block;
    float: left;
    padding: 25px;

    width: $body-width;

    font-family: $base-font;
    color: $body-text-color;
    text-align: left;
    line-height: 1.35;
  }

  .portfolio-project {
    padding-bottom: 15px;
    border-top: 1px solid #888;
    img {
      cursor: pointer;
    }
  }

  h3 {
    width: 200px;
    float: left;
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: $base-font;
    font-size: 24px;
    font-weight: 700;
  }

  .portfolio-links {
    margin-top: 25px;
    margin-bottom: 15px;
    float: right;
  }

  .portfolio-links-gbf-ebooks {
    width: 200px;
    float: right;
    text-align: right;
  }

  a {
    display: inline-block;
    padding-left: 10px;
  }

  .portfolio-features-list {
    width: 400px;
    margin-left: 25px;
    margin-bottom: 15px;
    list-style-type: circle;
    clear: both;
    li {
      float: left;
      margin-bottom: 5px;
    }

  }

  .portfolio-description {
    clear: both;
  }

  .portfolio-screenshot {
    width: ($body-width - 50) / 2 - 10;
    float: left;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 2px;
    border: 1px solid #888;
  }

  .contact-link-list {
    margin: auto;
    margin-bottom: 350px;
    line-height: 2;
    text-align: center;

    li {
      text-align: center;
    }

    a {
      padding: 0;
      text-align: center;
    }
  }
  .back-to-top {
    display: block;
    text-align: center;
  }
}
// ======
// FOOTER
// ======
footer {
  width: 100%;
  padding: 10px 0;
  margin: auto;

  color: rgba(1,1,1,.8);
  text-align: left;
  font-size: 14px;
  text-align: center;

  border-top: 1px solid #888;
  font-family: $base-font;
  p {
    margin: auto;
    width: $body-width;
  }
  a:before {
    content: "";
  }
}