@charset "UTF-8";
/* line 1, ../sass/_reset.scss */
li, a {
  font-family: inherit;
  color: inherit;
  text-decoration: inherit;
}

/* line 5, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Concourse;
  src: url("../fonts/Concourse T3 Regular.otf");
  font-style: regular;
  font-weight: 300;
}
@font-face {
  font-family: Concourse Caps;
  src: url("../fonts/Concourse C2 Regular.otf");
  font-style: regular;
  font-weight: 200;
}
@font-face {
  font-family: Concourse Caps;
  src: url("../fonts/Concourse C3 Regular.otf");
  font-style: regular;
  font-weight: 300;
}
@font-face {
  font-family: Concourse Caps;
  src: url("../fonts/Concourse C4 Regular.otf");
  font-style: regular;
  font-weight: 400;
}
@font-face {
  font-family: Concourse Caps;
  src: url("../fonts/Concourse C4 Bold.otf");
  font-style: regular;
  font-weight: 600;
}
/* line 1, ../sass/_utilities.scss */
h1, h2, ul, li, p {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}

/* line 11, ../sass/_utilities.scss */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* line 17, ../sass/_utilities.scss */
html {
  box-sizing: border-box;
  font-size: 16;
  line-height: 1.4;
}

/* line 23, ../sass/_utilities.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 27, ../sass/_utilities.scss */
img {
  display: block;
  max-width: 100%;
}

/* line 32, ../sass/_utilities.scss */
a:before {
  content: "→";
  position: relative;
  right: 4px;
  opacity: 0;
  transition: opacity 500ms linear;
}

/* line 40, ../sass/_utilities.scss */
a:hover {
  color: #0C73D7;
}

/* line 44, ../sass/_utilities.scss */
a:hover:before {
  opacity: 1;
}

/* line 48, ../sass/_utilities.scss */
a#selected {
  color: #0C73D7;
}

/* line 52, ../sass/_utilities.scss */
a#selected:before {
  color: #0C73D7;
  opacity: 1;
}

/* line 12, ../sass/screen.scss */
html {
  text-align: justify;
  box-sizing: border-box;
}

/* line 20, ../sass/screen.scss */
.header {
  display: block;
  margin: auto;
  padding: 25px;
  text-align: center;
  line-height: 1;
}
/* line 28, ../sass/screen.scss */
.header h1 {
  display: block;
  margin: auto;
  width: 315px;
  padding: 15px;
  font-family: Concourse Caps;
  color: #000;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 2em;
  letter-spacing: 2px;
  border-top: 4px double #0C73D7;
}
/* line 46, ../sass/screen.scss */
.header .close {
  letter-spacing: -2px;
}
/* line 50, ../sass/screen.scss */
.header .h1-sub {
  width: 315px;
  padding-bottom: 15px;
  margin: auto;
  margin-bottom: 15px;
  font-family: Concourse Caps;
  color: #0C73D7;
  font-weight: 300;
  letter-spacing: 2px;
  border-bottom: 4px double #0C73D7;
}

/* line 67, ../sass/screen.scss */
.main-full {
  background: #fff;
}

/* line 70, ../sass/screen.scss */
.main {
  display: block;
  margin: auto;
  font-size: 17.6px;
  width: 500px;
}
/* line 77, ../sass/screen.scss */
.main h2 {
  font-family: Concourse Caps;
  margin-top: 15px;
  margin-bottom: 10px;
  text-transform: lowercase;
  font-size: 24px;
  text-align: center;
}
/* line 86, ../sass/screen.scss */
.main .about-profile {
  margin: auto;
  margin-bottom: 25px;
  overflow: hidden;
  width: 200px;
  border-radius: 2px;
  border: 1px solid #888;
}
/* line 95, ../sass/screen.scss */
.main p {
  margin-bottom: 25px;
}
/* line 101, ../sass/screen.scss */
.main .sidebar {
  display: block;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
/* line 107, ../sass/screen.scss */
.main .sidebar-nav-list {
  margin: auto;
}
/* line 111, ../sass/screen.scss */
.main .sidebar-nav-list > li {
  width: 125px;
  float: left;
  color: #000;
  font-family: Concourse;
  line-height: 1.35;
}
/* line 119, ../sass/screen.scss */
.main .sidebar-nav-list > li a {
  display: block;
  text-align: center;
  padding: 10px 25px 10px 10px;
  white-space: no-wrap;
}
/* line 130, ../sass/screen.scss */
.main .body {
  display: block;
  float: left;
  padding: 25px;
  width: 500px;
  font-family: Concourse;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  line-height: 1.35;
}

/* line 146, ../sass/screen.scss */
.footer > nav {
  width: 500px;
  padding-bottom: 25px;
  margin: auto;
  border-top: 1px solid #888;
  color: #000;
  font-family: Concourse Caps;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 1.35;
}

/* line 160, ../sass/screen.scss */
.footer-nav-list {
  width: 500px;
  padding-top: 15px;
}
/* line 164, ../sass/screen.scss */
.footer-nav-list li {
  float: left;
}
/* line 168, ../sass/screen.scss */
.footer-nav-list a {
  text-align: center;
  display: block;
  width: 166.66667px;
  padding: 10px 10px 10px 25px;
}
