@charset "UTF-8";
/* line 1, ../sass/_reset.scss */
li, a {
  font-family: inherit;
  color: inherit;
  text-decoration: inherit;
}

/* line 5, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Concourse;
  src: url("../fonts/Concourse T3 Regular.otf");
  font-style: regular;
  font-weight: 300;
}
@font-face {
  font-family: Concourse;
  src: url("../fonts/Concourse T3 Bold.otf");
  font-style: regular;
  font-weight: 700;
}
@font-face {
  font-family: Concourse Caps;
  src: url("../fonts/Concourse C2 Regular.otf");
  font-style: regular;
  font-weight: 200;
}
@font-face {
  font-family: Concourse Caps;
  src: url("../fonts/Concourse C3 Regular.otf");
  font-style: regular;
  font-weight: 300;
}
@font-face {
  font-family: Concourse Caps;
  src: url("../fonts/Concourse C4 Regular.otf");
  font-style: regular;
  font-weight: 400;
}
@font-face {
  font-family: Concourse Caps;
  src: url("../fonts/Concourse C4 Bold.otf");
  font-style: regular;
  font-weight: 600;
}
/* line 1, ../sass/_utilities.scss */
h1, h2, ul, li, p {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 12, ../sass/_utilities.scss */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* line 18, ../sass/_utilities.scss */
html {
  box-sizing: border-box;
  font-size: 16;
  line-height: 1.4;
}

/* line 24, ../sass/_utilities.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 28, ../sass/_utilities.scss */
img {
  display: block;
  max-width: 100%;
}

/* line 33, ../sass/_utilities.scss */
a {
  font-family: Concourse Caps;
  color: #000;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 1.5;
}

/* line 41, ../sass/_utilities.scss */
.arrow-link:before {
  content: "→";
  position: relative;
  right: 4px;
  opacity: 0;
  transition: opacity 500ms linear;
}

/* line 49, ../sass/_utilities.scss */
a:hover {
  color: #0C73D7;
}

/* line 53, ../sass/_utilities.scss */
.arrow-link:hover:before {
  opacity: 1;
}

/* line 57, ../sass/_utilities.scss */
a.selected {
  color: #0C73D7;
}

/* line 61, ../sass/_utilities.scss */
a.selected:before {
  content: "→";
  position: relative;
  right: 4px;
  opacity: 1;
}

/* line 68, ../sass/_utilities.scss */
.sticky {
  position: fixed;
  top: 0;
}

/* line 12, ../sass/screen.scss */
html {
  text-align: justify;
  box-sizing: border-box;
}

/* line 20, ../sass/screen.scss */
.header {
  display: block;
  margin: auto;
  padding: 25px;
  text-align: center;
  line-height: 1;
}
/* line 28, ../sass/screen.scss */
.header h1 {
  display: block;
  margin: auto;
  padding: 25px;
  margin-top: 10px;
  font-family: Concourse Caps;
  color: #000;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 44px;
  letter-spacing: 2px;
}
/* line 44, ../sass/screen.scss */
.header .close {
  letter-spacing: -2px;
}
/* line 48, ../sass/screen.scss */
.header .h1-sub {
  width: 350px;
  margin: auto;
  margin-bottom: 25px;
  font-family: Concourse Caps;
  color: #0C73D7;
  font-weight: 300;
  letter-spacing: 2px;
}

/* line 64, ../sass/screen.scss */
#sidebar-wrapper {
  height: 21.6px;
  width: 100%;
}

/* line 68, ../sass/screen.scss */
.sidebar {
  display: block;
  width: 700px;
  margin: auto;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

/* line 76, ../sass/screen.scss */
.sidebar.sticky {
  width: 100%;
  border-top: 0;
  background: #fff;
  z-index: 1000;
}

/* line 83, ../sass/screen.scss */
.sidebar-nav-list {
  width: 700px;
  margin: auto;
}

/* line 88, ../sass/screen.scss */
.sidebar-nav-list > li {
  width: 175px;
  float: left;
  color: #000;
  font-family: Concourse;
  line-height: 1.35;
}
/* line 96, ../sass/screen.scss */
.sidebar-nav-list > li a {
  display: block;
  text-align: center;
  padding: 10px 25px 10px 10px;
  white-space: no-wrap;
}

/* line 107, ../sass/screen.scss */
.main-full {
  background: #fff;
}

/* line 110, ../sass/screen.scss */
.main {
  display: block;
  margin: auto;
  margin-bottom: 50px;
  font-size: 17.6px;
  width: 700px;
}
/* line 118, ../sass/screen.scss */
.main h2 {
  font-family: Concourse Caps;
  margin-top: 30px;
  margin-bottom: 25px;
  text-transform: lowercase;
  font-size: 30px;
  text-align: center;
}
/* line 127, ../sass/screen.scss */
.main .about-profile {
  margin: auto;
  margin-bottom: 25px;
  overflow: hidden;
  width: 125px;
  border-radius: 50%;
  border: 1px solid #888;
}
/* line 136, ../sass/screen.scss */
.main p {
  margin-bottom: 25px;
}
/* line 142, ../sass/screen.scss */
.main .body {
  display: block;
  float: left;
  padding: 25px;
  width: 700px;
  font-family: Concourse;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  line-height: 1.35;
}
/* line 155, ../sass/screen.scss */
.main .portfolio-project {
  padding-bottom: 15px;
  border-bottom: 1px solid #888;
}
/* line 158, ../sass/screen.scss */
.main .portfolio-project img {
  cursor: pointer;
}
/* line 163, ../sass/screen.scss */
.main h3 {
  width: 200px;
  float: left;
  margin-top: 25px;
  margin-bottom: 15px;
  font-family: Concourse;
  font-size: 24px;
  font-weight: 700;
}
/* line 173, ../sass/screen.scss */
.main .portfolio-links {
  margin-top: 25px;
  margin-bottom: 15px;
  float: right;
}
/* line 179, ../sass/screen.scss */
.main .portfolio-links a {
  padding-left: 10px;
}
/* line 186, ../sass/screen.scss */
.main .portfolio-features-list {
  width: 400px;
  margin-left: 25px;
  margin-bottom: 15px;
  list-style-type: circle;
  clear: both;
}
/* line 192, ../sass/screen.scss */
.main .portfolio-features-list li {
  float: left;
  margin-bottom: 5px;
}
/* line 199, ../sass/screen.scss */
.main .portfolio-description {
  clear: both;
}
/* line 203, ../sass/screen.scss */
.main .portfolio-screenshot {
  position: relative;
  width: 315px;
  float: left;
  margin: 5px;
  margin-bottom: 15px;
  border-radius: 2px;
  border: 1px solid #888;
}
/* line 213, ../sass/screen.scss */
.main .portfolio-screenshots-gbf {
  margin-top: 75px;
}
/* line 217, ../sass/screen.scss */
.main .screenshot-caption {
  position: absolute;
  height: 25px;
  width: 315px;
  top: -45px;
  text-align: center;
}
/* line 225, ../sass/screen.scss */
.main .contact-link-list {
  width: 220px;
  text-align: center;
  margin: auto;
  margin-bottom: 300px;
  line-height: 2;
  text-align: center;
}
/* line 233, ../sass/screen.scss */
.main .contact-link-list li {
  display: inline-block;
  padding: 10px;
}
/* line 238, ../sass/screen.scss */
.main .contact-link-list a {
  display: block;
  margin: auto;
  float: left;
}
/* line 245, ../sass/screen.scss */
.main .back-to-top {
  display: block;
  text-align: center;
}
/* line 250, ../sass/screen.scss */
.main .icon {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url("../imgs/social-icons.svg");
  background-repeat: no-repeat;
  background-size: 486px 425px;
}
/* line 260, ../sass/screen.scss */
.main .icon:after {
  position: absolute;
  width: 100px;
  bottom: -28px;
  text-align: center;
  color: #0C73D7;
  opacity: 0;
  transform: translateX(-54%);
  transition: opacity 500ms linear;
}
/* line 272, ../sass/screen.scss */
.main .icon:hover:after {
  opacity: 1;
}
/* line 276, ../sass/screen.scss */
.main .twitter-icon {
  background-position: 0px 0px;
}
/* line 280, ../sass/screen.scss */
.main .twitter-icon:after {
  content: "→ Mention";
}
/* line 284, ../sass/screen.scss */
.main .github-icon {
  background-position: -249px -250px;
}
/* line 288, ../sass/screen.scss */
.main .github-icon:after {
  content: "→ Fork";
}
/* line 292, ../sass/screen.scss */
.main .gmail-icon {
  background-position: -187px -374px;
}
/* line 296, ../sass/screen.scss */
.main .gmail-icon:after {
  content: "→ Email";
}
/* line 300, ../sass/screen.scss */
.main .linkedin-icon {
  background-position: -62px -63px;
}
/* line 304, ../sass/screen.scss */
.main .linkedin-icon:after {
  content: "→ Connect";
}
/* line 308, ../sass/screen.scss */
.main .resume-icon {
  background-position: -374px -374px;
}
/* line 312, ../sass/screen.scss */
.main .resume-icon:after {
  content: "→ Resume";
}

/* line 319, ../sass/screen.scss */
footer {
  width: 100%;
  padding: 10px 0;
  margin: auto;
  color: rgba(1, 1, 1, 0.8);
  text-align: left;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #888;
  font-family: Concourse;
}
/* line 331, ../sass/screen.scss */
footer p {
  margin: auto;
  width: 700px;
}
/* line 335, ../sass/screen.scss */
footer a:before {
  content: "";
}
