/* line 5, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/var/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Concourse;
  src: url("../fonts/Concourse T3 Regular.otf");
  font-style: regular;
  font-weight: 300;
}
@font-face {
  font-family: Concourse;
  src: url("../fonts/Concourse T3 Bold.otf");
  font-style: regular;
  font-weight: 700;
}
@font-face {
  font-family: Concourse Caps;
  src: url("../fonts/Concourse C2 Regular.otf");
  font-style: regular;
  font-weight: 200;
}
@font-face {
  font-family: Concourse Caps;
  src: url("../fonts/Concourse C3 Regular.otf");
  font-style: regular;
  font-weight: 300;
}
@font-face {
  font-family: Concourse Caps;
  src: url("../fonts/Concourse C4 Regular.otf");
  font-style: regular;
  font-weight: 400;
}
@font-face {
  font-family: Concourse Caps;
  src: url("../fonts/Concourse C4 Bold.otf");
  font-style: regular;
  font-weight: 600;
}
/* line 1, ../sass/_utilities.scss */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* line 7, ../sass/_utilities.scss */
html {
  font-size: 18px;
  line-height: 1.35;
  font-family: Concourse;
}

/* line 13, ../sass/_utilities.scss */
h1, h2, h3, h4, h4 {
  font-family: Concourse Caps;
  color: #000;
}

/* line 18, ../sass/_utilities.scss */
img {
  display: block;
}

/* line 21, ../sass/_utilities.scss */
a {
  font-family: Concourse;
  color: #000;
  text-decoration: none;
}

/* line 27, ../sass/_utilities.scss */
a:hover {
  color: #0C73D7;
}

/* line 31, ../sass/_utilities.scss */
p {
  color: rgba(0, 0, 0, 0.8);
}

/* line 9, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 13, ../sass/screen.scss */
html {
  background: #eee;
}

/* line 17, ../sass/screen.scss */
section {
  position: relative;
  height: 100%;
}

/* line 22, ../sass/screen.scss */
nav {
  display: flex;
  justify-content: center;
}

/* line 27, ../sass/screen.scss */
ol {
  display: flex;
  margin: 0 auto;
  padding: 30px 0;
}
/* line 32, ../sass/screen.scss */
ol li {
  border-right: 1px solid #ccc;
}
/* line 35, ../sass/screen.scss */
ol li:last-child {
  border-right: none;
}
/* line 39, ../sass/screen.scss */
ol li a {
  font-size: 18;
  padding: 5px 25px;
}

/* line 46, ../sass/screen.scss */
div.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* line 53, ../sass/screen.scss */
#top {
  background: #fff;
}

/* line 57, ../sass/screen.scss */
#top img {
  height: 150px;
  width: auto;
  border: 1px solid #000;
  border-radius: 50%;
  margin: auto;
}

/* line 65, ../sass/screen.scss */
h1 {
  text-align: center;
  text-transform: lowercase;
  font-size: 48px;
}
/* line 70, ../sass/screen.scss */
h1 span {
  letter-spacing: -6px;
}

/* line 75, ../sass/screen.scss */
h2 {
  text-align: center;
  margin: 10px;
  font-size: 24px;
}

/* line 81, ../sass/screen.scss */
#about {
  background: #eee;
}

/* line 85, ../sass/screen.scss */
#about div.center {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
}

/* line 91, ../sass/screen.scss */
article {
  width: 350px;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* line 97, ../sass/screen.scss */
h3 {
  font-size: 24px;
  color: #0C73D7;
  line-height: 1;
  text-transform: lowercase;
  margin-bottom: 15px;
}

/* line 105, ../sass/screen.scss */
p {
  font-size: 20px;
}

/* line 109, ../sass/screen.scss */
span.nowrap {
  white-space: nowrap;
}

@media (max-width: 850px) {
  /* line 3, ../sass/_mobile.scss */
  section {
    height: auto;
  }

  /* line 7, ../sass/_mobile.scss */
  section:first-child {
    padding-bottom: 25px;
  }

  /* line 11, ../sass/_mobile.scss */
  section:last-child {
    padding-top: 15px;
  }

  /* line 15, ../sass/_mobile.scss */
  div.center {
    width: auto;
    padding: 95px 35px 65px 35px;
    position: static;
    top: 0;
    left: 0;
    transform: none;
  }

  /* line 24, ../sass/_mobile.scss */
  #about div.center {
    width: auto;
  }

  /* line 28, ../sass/_mobile.scss */
  h1 {
    font-size: 36px;
    line-height: 1.1;
  }
  /* line 32, ../sass/_mobile.scss */
  h1 span {
    display: none;
  }

  /* line 37, ../sass/_mobile.scss */
  h2 {
    font-size: 18;
  }

  /* line 41, ../sass/_mobile.scss */
  #top img {
    height: 100px;
    margin-bottom: 10px;
  }

  /* line 47, ../sass/_mobile.scss */
  article {
    margin: 20px auto;
  }

  /* line 51, ../sass/_mobile.scss */
  p {
    font-size: 18px;
  }
}
